[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
numpy = "*"
"beautifulsoup4" = "*"
"html5lib" = "*"
sqlalchemy = "==1.2"
mysql-connector-python = "*"


[dev-packages]



[requires]

python_version = "3.6"
